# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
.idea
infrastructure/terraform/aws/environments/dev/.terraform
infrastructure/terraform/aws/environments/local/.terraform
**/terraform.tfstate


*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log